:root {
    --popup-width: 600px;
    --popup-hight: 450px;
}

.ns-block-bg{
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.6);
}
.ns-sign{
    position: fixed;
    top: 50vh;
    left: 50vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: var(--popup-width);
    height: var(--popup-hight);
    transform: translate(-50%,-55%);
}

.ns-sign header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
}
.ns-sign header h1{
    padding: 10px 20px;
}

.ns-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.ns-content{
    width: 100%;
    position: absolute;
    top: 50px;
}

.ns-provider, .ns-user, .ns-certify{
    padding: 10px 15px;
}